#lc-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#lc-container .lc-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 440px;
  height: 100%;
  padding-top: 64px;
}
#lc-container .lc-connectome {
  height: 100%;
  margin-left: 440px;
}

/* lc-connectome */
.lc-connectome {
  /* connectome-container */
  .connectome-container {
    position: relative;
    display: block;
    height: 100%;
  }
  /* connectome-area */
  .connectome-area {
    z-index: 1;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #000011;
  }
  /* connectome-control */
  .connectome-container {
    [class*='control-'] {
      position: absolute;
      z-index: 2;
      .btn-group-vertical {
        + .btn-group-vertical {
          margin-top: 15px;
        }
      }
      .btn {
        > span {
          /* tooltip 버튼 스타일 */
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 50%;
          display: inline-block;
          color: #fff;
          font-size: 12px;
          white-space: nowrap;
          padding: 1px 15px 3px;
          border: 1px solid #3a3b3d;
          border-radius: 30px;
          background: #2c2d30;
          transition: 0.2s;
          transform: translateY(-50%);
          > em {
            display: none;
          }
        }
        &.active {
          > span > em {
            display: inline;
          }
          // background: #2c2d30 !important;
        }
        &:hover {
          > span {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    .control-bottom {
      bottom: 1rem;
      left: 50%;
      transform: translateX(-50%);
      .btn {
        padding: 0.375rem 1.5rem;
      }
    }
    .control-right {
      top: 50%;
      right: 1rem;
      width: 42px;
      transform: translateY(-50%);
      .btn > span {
        right: 52px;
      }
    }
    .connectome-area {
      height: 100%;
    }
  }
}

/* lc-panel */
.lc-panel {
  position: relative;
  height: 100%;
  .lc-panel-main,
  .lc-panel-sub,
  .lc-main-inner,
  .lc-sub-inner {
    position: relative;
    height: 100%;
    background-color: #f6f8fb;
  }
  .lc-panel-main {
    z-index: 3;
    .lc-main-inner {
      padding-bottom: 34px;
    }
  }
  .lc-panel-sub {
    z-index: 6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .lc-sub-inner {
      position: relative;
      padding-top: 55px;
      padding-bottom: 34px;
    }
    /* active */
    opacity: 0;
    visibility: hidden;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .panel-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    height: 55px;
    padding: 0.5rem 0.75rem;
    background-color: #fff;
    .title {
      overflow: hidden;
      font-size: 1rem;
      font-weight: 500;
      text-align: center;
      vertical-align: middle;
      i {
        vertical-align: middle;
        margin-right: 0.25rem;
      }
    }
  }
  .panel-body {
    position: relative;
    height: 100%;
    padding-bottom: 45px;
    .list-wrap {
      height: 100%;
    }
    .mCSB_scrollTools {
      width: 3px;
    }
    /* list-add */
    .list-add {
      z-index: 100;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem 1rem 0.5em;
      background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 37%,
        rgba(233, 236, 239, 1) 99%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 37%,
        rgba(233, 236, 239, 1) 99%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      .btn-add {
        display: block;
        width: 100%;
        color: #fff;
        font-size: 0.875rem;
        background-color: $primary;
      }
    }
  }
  .panel-footer {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 34px;
    padding: 0.5rem 0.75rem;
    border-top: 1px solid #d2d8de;
    background-color: #dee2e7;
    /* list-count */
    .list-count {
      color: #999;
      font-size: 0.688rem;
      > span {
        position: relative;
        vertical-align: middle;
        padding-left: 9px;
        margin-right: 4px;
        em {
          color: #666;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 1px;
          height: 10px;
          margin-top: -5px;
          background-color: #ccc;
        }
        &:first-child:after {
          content: none;
        }
      }
    }
  }
}

/* lc-card-list */
.lc-card-list {
  .lc-card-item {
    margin: 0.5rem 1rem;
  }
  .lc-card-group {
    padding-top: 14px;
    margin: 1rem 1rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #dce9fb;
  }
  .item-wrap {
    padding: 1rem 0.75rem 0.5rem;
    border: 1px solid #fff;
    border-radius: 0.5rem;
    background-color: #fff;
  }
  .group-wrap {
    z-index: 3;
    position: relative;
    padding: 1rem 0.75rem 0.5rem;
    border: 1px solid #cbddf9;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    background-color: #eef4fd;
    box-shadow: 0 -6px 0 0 #fff;
    &:after {
      content: '';
      z-index: 4;
      position: absolute;
      top: -24px;
      left: -1px;
      display: inline-block;
      width: 160px;
      height: 24px;
      border: 1px solid #cbddf9;
      border-bottom-color: #eef4fd;
      border-radius: 0.5rem 0.5rem 0 0;
      background-color: #eef4fd;
    }
  }
  .lc-card-group[aria-selected='true'],
  .lc-card-item[aria-selected='true'] {
    .item-wrap {
      border-color: $primary;
    }
    .group-wrap {
      border-color: $primary;
      &:after {
        border-color: $primary $primary #e8f2ff $primary;
      }
    }
  }
  &.lc-context-list {
    .lc-card-item {
      .item-wrap {
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
      }
    }
    .lc-card-group {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.06);
      .group-wrap {
      }
    }
  }
  &.lc-resource-list {
    .lc-card-item {
      margin: 0 !important;
      + .lc-card-item {
        border-top: 1px solid #ecf0f2;
      }
      .item-wrap {
        padding: 1rem 0.25rem;
        border-radius: 0;
        .content-box {
          padding-bottom: 0;
        }
      }
    }
    .lc-card-item[aria-selected='true'] {
      .item-wrap {
        border-color: transparent;
        // background-color: #f8fafb;
      }
    }
  }
  .content-box {
    display: flex;
    align-items: flex-start;
    padding-bottom: 0.55rem;
    .lc-check {
      flex: 0 0 24px;
      margin-right: 0.5rem;
    }
    .lc-media {
      flex: 1 1 auto;
    }
    .lc-btn {
      flex: 0 0 auto;
      font-size: 0;
      min-height: 22px;
      margin-left: 0.5rem;
      button,
      a {
        vertical-align: top;
      }
    }
  }
  .tag-box {
    margin-top: 0.25rem;
    padding: 0.5rem 0 0.25rem;
    border-top: 1px solid #eaeef2;
  }
}
.lc-panel-sub .header-right,
.lc-card-list .lc-btn {
  .btn-icon {
    font-size: 0;
    padding: 0 !important;
  }
}

/* btn-check */
.btn-check {
  position: relative;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 21px;
  height: 21px;
  font-size: 0;
  padding: 0;
  border: 1px solid #eceef1;
  border-radius: 0.25rem;
  background: #f9f9f9;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/common/icon-common-set.png');
    background-position: -20px -40px;
    opacity: 0.2;
  }
  &.active {
    border-color: $primary;
    background: $primary;
    &:after {
      background-position: -40px -40px;
      opacity: 1;
    }
  }
}

/* more-area */
.more-area {
  display: inline-block;
  vertical-align: top;
  .btn-more {
    display: inline-block;
    width: 21px;
    height: 21px;
    font-size: 0;
    text-align: center;
    padding: 0;
  }
  .dropdown-menu {
    font-size: 0.75rem;
    .dropdown-item {
      padding: 0.25rem 1rem;
      i {
        margin-right: 0.5rem;
      }
    }
  }
}

/* lc-media */
.lc-media {
  display: flex;
  .media-img {
    flex: 0 0 88px;
    position: relative;
    overflow: hidden;
    width: 88px;
    height: 69px;
    margin-right: 1rem;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-radius: inherit;
    }
  }
  .media-gird {
    display: grid;
    overflow: hidden;
    width: 88px;
    height: 69px;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-right: 1rem;
    border-radius: 0.25rem;
    background-color: #fff;
    > div {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: translate(-50%, -50%);
      }
    }
  }
  .media-file {
    flex: 0 0 88px;
    position: relative;
    overflow: hidden;
    width: 88px;
    height: 69px;
    margin-right: 1rem;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.04);
      border-radius: inherit;
    }
  }
  .media-body {
    flex-grow: 1;
    padding: 0 0;
    .media-title {
      overflow: hidden;
      color: #000;
      font-size: 0.938rem;
      font-weight: 500;
      line-height: 1.4;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
      .lc-card-group & {
        position: relative;
        -webkit-line-clamp: 1;
        small {
          color: $primary;
          font-weight: 600;
          margin-left: 0.25rem;
        }
      }
    }
    .media-desc {
      color: #666;
      font-size: 0.813rem;
      margin-top: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
    .media-url {
      color: #999;
      font-size: 0.688rem;
      margin-top: 0.25rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
    .media-info {
      color: #999;
      font-size: 0.75rem;
      margin-top: 0.25rem;
      .info-item {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        padding-left: 6px;
        margin-right: 2px;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: inline-block;
          width: 2px;
          height: 2px;
          margin-top: -1px;
          background-color: #ccc;
        }
      }
      .info-item:first-child {
        padding-left: 0;
        &:after {
          content: none;
        }
      }
      .badge {
        color: #999;
        font-size: 0.688rem;
        white-space: nowrap;
        text-decoration: none;
        padding: 0.1rem 0.5rem 0.15rem;
        border-radius: 0.25rem;
        border: 1px solid #ddd;
        background: #f8f9fa;
      }
      .source {
        color: #505050;
        .source-img {
          overflow: hidden;
          position: relative;
          display: inline-block;
          width: 16px;
          height: 16px;
          color: #505050 !important;
          font-size: 0;
          margin-right: 0.25rem;
          border-radius: 50%;
          background-color: #f8f9fa;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate(-50%, -50%);
          }
          &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.04);
            border-radius: inherit;
          }
        }
      }
    }
  }
}

/* tag-box */
.tag-box {
  z-index: 9;
  position: relative;
  font-size: 0;
  .scroll-area {
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .tag-list {
    display: inline-flex;
    vertical-align: top;
    flex-wrap: nowrap;
    .tag-item {
      color: #666;
      font-size: 0.688rem;
      white-space: nowrap;
      text-decoration: none;
      padding: 0.1rem 0.5rem 0.15rem;
      margin: 4px 4px 0 0;
      border-radius: 0.25rem;
      background: #f8f9fa;
    }
  }
  .btn-wrap {
    position: absolute;
    top: 9px;
    right: 0;
    height: 24px;
    padding: 1px 0 1px 24px;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 37%,
      rgba(255, 255, 255, 1) 99%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 37%,
      rgba(255, 255, 255, 1) 99%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    .btn-list-more {
      position: relative;
      display: inline-block;
      width: 22px;
      height: 22px;
      padding: 0;
      border-radius: 50%;
      border: 1px solid #e9ecef;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        display: inline-block;
        width: 6px;
        height: 6px;
        border-width: 0 1px 1px 0;
        border-style: solid;
        border-color: #666;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: -4px;
        margin-right: -3px;
      }
    }
  }
  &.show {
    .tag-list {
      display: flex !important;
      flex-wrap: wrap !important;
      padding-right: 2rem;
    }
    .btn-wrap {
      top: auto;
      bottom: 0;
      .btn-list-more:before {
        margin-top: -1px;
        border-width: 1px 0 0 1px;
      }
    }
  }
  .lc-card-group & {
    .tag-list {
      .tag-item {
        background-color: #e7ecf5;
      }
    }
    .btn-wrap {
      background: -webkit-linear-gradient(
        left,
        rgba(238, 244, 255, 0) 0%,
        rgba(238, 244, 255, 1) 37%,
        rgba(238, 244, 255, 1) 99%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(238, 244, 255, 0) 0%,
        rgba(238, 244, 255, 1) 37%,
        rgba(238, 244, 255, 1) 99%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}

#lc-container {
  .row,
  .row [class^='col-'] {
    height: 100%;
  }
}

/* go-panel */
.go-panel {
  display: flex;
  height: 100%;
  border-radius: 0.5rem;
  background-color: #fff;
  // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .06);
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
}

/* panel-LS-add */
.panel-LS-add {
  > .panel-nav {
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1rem;
    .nav {
      flex-direction: column;
      .nav-item {
        margin-bottom: 0.5rem;
      }
      .nav-link {
        width: 100%;
        // text-align: left;
        padding: 1rem 1rem;
        border-width: 0;
        border-radius: 0.5rem;
        background-color: #f8fafb;
        // box-shadow: 0 2px 6px rgba(0, 0, 0, .06);
        // i {margin-right: .5rem;}
        .text {
          color: #999;
          font-size: 0.688rem;
          display: block;
          margin-top: 0.5rem;
        }
        &.active {
          background-color: $secondary;
          // box-shadow: 0 2px 6px rgba(0, 151, 246, .35);
          .text {
            color: $white;
          }
        }
      }
    }
    .banners {
      .banner {
        font-size: 0.688rem;
      }
    }
  }
  > .panel-content {
    height: 100%;
    flex: 0 0 75%;
    max-width: 75%;
    border-left: 1px solid #eee;
    .tab-pane {
      height: 100%;
    }
  }
}

/* panel-LS-content */
.panel-LS-content {
  position: relative;
  height: 100%;
  padding: 62px 0 62px;
  > .panel-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 62px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem 1rem;
    border-bottom-width: 0;
    .panel-title {
      position: relative;
      padding-left: 0;
      i {
        margin-right: 0.25rem;
      }
      strong {
        font-weight: 500;
      }
      p {
        color: #999;
        font-size: 0.75rem;
        margin-top: 0.25rem;
      }
    }
  }
  > .panel-body {
    // border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem 0.25rem;
    .list-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 0.25rem;
      border-bottom: 1px solid #ecf0f2;
      .form-group {
        font-size: 0;
        vertical-align: middle;
        margin-bottom: 0;
        label {
          font-size: 0.813rem;
          vertical-align: middle;
          margin-left: 0.5rem;
          margin-bottom: 0;
        }
      }
      .list-info {
        color: #999;
        font-size: 0.813rem;
        margin-left: 0.25rem;
        strong {
          color: $primary;
          margin-left: 0.1rem;
          margin-right: 0.1rem;
        }
      }
    }
    .list-wrap {
      // border: 1px solid red;
      position: relative;
      flex: 1 1 auto;
      padding: 0 0 0;
      overflow: hidden;
      height: 100%;
      .list-inner {
        height: 100%;
      }
      .mCSB_scrollTools {
        width: 3px;
      }
    }
  }
  > .panel-footer {
    // border: 1px solid blue;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    display: inline-block;
    width: 100%;
    height: 62px;
    padding: 0.5rem 1.5rem 1rem;
  }
}

.elements-left {
  float: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.elements-right {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button + button {
    margin-left: 0.5rem;
  }
}

.add-input-area {
  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: #f8fafb;
  .form-group {
    position: relative;
    margin-bottom: 0;
    input {
      height: 42px;
      font-size: 0.875rem;
      letter-spacing: -0.5px;
      padding-right: 3rem;
    }
    button {
      position: absolute;
      top: 50%;
      right: 5px;
      width: 42px;
      height: 42px;
      font-size: 1.5rem;
      padding: 0;
      margin-top: -21px;
      background-color: transparent;
      border: 1px solid transparent;
    }
  }
  .search-group {
  }
  .url-group {
  }
}

.search-tab {
  margin-bottom: 1rem;
}

/* memo-area */
.memo-area {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .form-control {
    // border-color: #dee2e6;
    // background-color: #f8fafb;
  }
  .memo-title {
    margin-bottom: 0.5rem;
    .form-control {
    }
  }
  .memo-desc {
    flex: 1 1 auto;
    .form-control {
      height: 100% !important;
    }
  }
}

/* Storage Filter */
.storage-filter {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  // margin-bottom: .75rem;
  /* filter-common */
  .filter-list {
    display: flex;
    flex-wrap: wrap;
    .filter-link:hover {
      text-decoration: none;
    }
  }
  /* filter-main */
  .filter-main {
    padding: 0.75rem 1.5rem 0.25rem;
    background-color: #f8fafb;
    .filter-item {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .filter-link {
      display: block;
      font-size: 0.75rem;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      background-color: #fff;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
      &.active {
        color: #fff;
        background-color: $primary;
        box-shadow: 0 2px 6px rgba(0, 151, 246, 0.35);
      }
    }
  }
  /* filter-sub */
  .filter-sub {
    padding: 0.75rem 1.5rem 0.25rem;
    .filter-item {
      margin: 0 0.5rem 0.5rem 0rem;
    }
    .filter-link {
      color: #666;
      font-size: 0.75rem;
      padding: 0.5rem 1rem !important;
      border: 1px solid #eaeef2;
      border-radius: 1rem;
      background-color: #fff;
      i {
        margin-right: 0.25rem;
      }
    }
  }
}

/* Search Filter Selected */
.filter-selected {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem 0.25rem;
  margin: 0 1rem 1rem;
  border: 1px solid #f4f4f6;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
  .filter-pic {
    cursor: pointer;
    color: #303038;
    font-size: 0.75rem;
    padding: 4px 16px;
    margin: 0 0.5rem 0.5rem 0rem;
    border: 1px solid #f4f4f6;
    border-radius: 30px;
    background-color: #f4f4f6;
  }
  .filter-clear {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 1px 4px;
    border: 1px solid #eaeef2;
    border-radius: 50%;
    background-color: #fff;
  }
}
